/resources/*
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.idea
/code/src/qooperate.egg-info/*
/code/results/data/e0/e0_test_n100_seed107420369.parquet
/code/results/data/e0/e0_test_n100_seed478163327.parquet
/code/results/data/e0/e0_test_n100_seed958682846.parquet
/code/results/data/e0/e0_test_n100_seed1051802512.parquet
/code/results/data/e0/e0_test_n100_seed1181241943.parquet
/code/results/data/e0/e0_test_n900_seed136505587.parquet
/code/results/data/e0/e0_test_n900_seed373399426.parquet
/code/results/data/e0/e0_test_n900_seed440213415.parquet
/code/results/data/e0/e0_test_n900_seed599310825.parquet
/code/results/data/e0/e0_test_n900_seed1812140441.parquet
/code/results/data/e0/learning_e0_test_n100_seed107420369.npz
/code/results/data/e0/learning_e0_test_n100_seed478163327.npz
/code/results/data/e0/learning_e0_test_n100_seed958682846.npz
/code/results/data/e0/learning_e0_test_n100_seed1051802512.npz
/code/results/data/e0/learning_e0_test_n100_seed1181241943.npz
/code/results/data/e0/learning_e0_test_n900_seed136505587.npz
/code/results/data/e0/learning_e0_test_n900_seed373399426.npz
/code/results/data/e0/learning_e0_test_n900_seed440213415.npz
/code/results/data/e0/learning_e0_test_n900_seed599310825.npz
/code/results/data/e0/learning_e0_test_n900_seed1812140441.npz
/code/results/data/e0/replay_e0_test_n100_seed107420369.npz
/code/results/data/e0/replay_e0_test_n100_seed478163327.npz
/code/results/data/e0/replay_e0_test_n100_seed958682846.npz
/code/results/data/e0/replay_e0_test_n100_seed1051802512.npz
/code/results/data/e0/replay_e0_test_n100_seed1181241943.npz
/code/results/data/e0/replay_e0_test_n900_seed136505587.npz
/code/results/data/e0/replay_e0_test_n900_seed373399426.npz
/code/results/data/e0/replay_e0_test_n900_seed440213415.npz
/code/results/data/e0/replay_e0_test_n900_seed599310825.npz
/code/results/data/e0/replay_e0_test_n900_seed1812140441.npz
/code/results/data/e1/e1_topology_ter_seed1181241943.parquet
/code/results/data/e1/e1_topology_tla_seed478163327.parquet
/code/results/data/e1/e1_topology_tws_seed107420369.parquet
/code/results/data/e1/learning_e1_topology_ter_seed1181241943.npz
/code/results/data/e1/learning_e1_topology_tla_seed478163327.npz
/code/results/data/e1/learning_e1_topology_tws_seed107420369.npz
/code/results/data/e1/replay_e1_topology_ter_seed1181241943.npz
/code/results/data/e1/replay_e1_topology_tla_seed478163327.npz
/code/results/data/e1/replay_e1_topology_tws_seed107420369.npz
/code/results/data/e2/e2_alpha_a01_seed1181241943.parquet
/code/results/data/e2/e2_alpha_a02_seed1051802512.parquet
/code/results/data/e2/e2_alpha_a05_seed958682846.parquet
/code/results/data/e2/learning_e2_alpha_a01_seed1181241943.npz
/code/results/data/e2/learning_e2_alpha_a02_seed1051802512.npz
/code/results/data/e2/learning_e2_alpha_a05_seed958682846.npz
/code/results/data/e2/replay_e2_alpha_a01_seed1181241943.npz
/code/results/data/e2/replay_e2_alpha_a02_seed1051802512.npz
/code/results/data/e2/replay_e2_alpha_a05_seed958682846.npz
/code/results/data/e3/e3_epsilon_e01_seed1181241943.parquet
/code/results/data/e3/e3_epsilon_e02_seed1051802512.parquet
/code/results/data/e3/e3_epsilon_e05_seed958682846.parquet
/code/results/data/e3/e3_epsilon_e005_seed107420369.parquet
/code/results/data/e3/learning_e3_epsilon_e01_seed1181241943.npz
/code/results/data/e3/learning_e3_epsilon_e02_seed1051802512.npz
/code/results/data/e3/learning_e3_epsilon_e05_seed958682846.npz
/code/results/data/e3/learning_e3_epsilon_e005_seed107420369.npz
/code/results/data/e3/replay_e3_epsilon_e01_seed1181241943.npz
/code/results/data/e3/replay_e3_epsilon_e02_seed1051802512.npz
/code/results/data/e3/replay_e3_epsilon_e05_seed958682846.npz
/code/results/data/e3/replay_e3_epsilon_e005_seed107420369.npz
/code/results/data/e4/e4_rho_r1_seed478163327.parquet
/code/results/data/e4/e4_rho_r2_seed107420369.parquet
/code/results/data/e4/e4_rho_r4_seed1181241943.parquet
/code/results/data/e4/learning_e4_rho_r1_seed478163327.npz
/code/results/data/e4/learning_e4_rho_r2_seed107420369.npz
/code/results/data/e4/learning_e4_rho_r4_seed1181241943.npz
/code/results/data/e4/replay_e4_rho_r1_seed478163327.npz
/code/results/data/e4/replay_e4_rho_r2_seed107420369.npz
/code/results/data/e4/replay_e4_rho_r4_seed1181241943.npz
/code/results/data/e5/e5_states_srS1_seed478163327.parquet
/code/results/data/e5/e5_states_srS12_seed107420369.parquet
/code/results/data/e5/e5_states_srS123_seed1181241943.parquet
/code/results/data/e5/e5_states_srS1234_seed1051802512.parquet
/code/results/data/e5/learning_e5_states_srS1_seed478163327.npz
/code/results/data/e5/learning_e5_states_srS12_seed107420369.npz
/code/results/data/e5/learning_e5_states_srS123_seed1181241943.npz
/code/results/data/e5/learning_e5_states_srS1234_seed1051802512.npz
/code/results/data/e5/replay_e5_states_srS1_seed478163327.npz
/code/results/data/e5/replay_e5_states_srS12_seed107420369.npz
/code/results/data/e5/replay_e5_states_srS123_seed1181241943.npz
/code/results/data/e5/replay_e5_states_srS1234_seed1051802512.npz
/code/results/figures/e0/e0_test_n100_seed.jpg
/code/results/figures/e0/e0_test_n100_seed1051802512.jpg
/code/results/figures/e0/e0_test_n900_seed.jpg
/code/results/figures/e0/e0_test_n900_seed136505587.jpg
/code/results/figures/e0/e0_test_n900_seed1812140441.jpg
/code/results/figures/e0/learning_e0_test_n100_seed107420369.jpg
/code/results/figures/e0/learning_e0_test_n100_seed478163327.jpg
/code/results/figures/e0/learning_e0_test_n100_seed958682846.jpg
/code/results/figures/e0/learning_e0_test_n100_seed1051802512.jpg
/code/results/figures/e0/learning_e0_test_n100_seed1181241943.jpg
/code/results/figures/e0/learning_e0_test_n900_seed136505587.jpg
/code/results/figures/e0/learning_e0_test_n900_seed373399426.jpg
/code/results/figures/e0/learning_e0_test_n900_seed440213415.jpg
/code/results/figures/e0/learning_e0_test_n900_seed599310825.jpg
/code/results/figures/e0/learning_e0_test_n900_seed1812140441.jpg
/code/results/figures/e1/combined-image.jpg
/code/results/figures/e1/e1_topology_t.jpg
/code/results/figures/e1/learning_e1_topology_ter_seed1181241943.jpg
/code/results/figures/e1/learning_e1_topology_tla_seed478163327.jpg
/code/results/figures/e1/learning_e1_topology_tws_seed107420369.jpg
/code/results/figures/e2/combined-image.jpg
/code/results/figures/e2/e2_alpha_a0.jpg
/code/results/figures/e2/learning_e2_alpha_a01_seed1181241943.jpg
/code/results/figures/e2/learning_e2_alpha_a02_seed1051802512.jpg
/code/results/figures/e2/learning_e2_alpha_a05_seed958682846.jpg
/code/results/figures/e3/combined-image.jpg
/code/results/figures/e3/e3_epsilon_e0.jpg
/code/results/figures/e3/learning_e3_epsilon_e01_seed1181241943.jpg
/code/results/figures/e3/learning_e3_epsilon_e02_seed1051802512.jpg
/code/results/figures/e3/learning_e3_epsilon_e05_seed958682846.jpg
/code/results/figures/e3/learning_e3_epsilon_e005_seed107420369.jpg
/code/results/figures/e4/combined-image.jpg
/code/results/figures/e4/e4_rho_r.jpg
/code/results/figures/e4/learning_e4_rho_r1_seed478163327.jpg
/code/results/figures/e4/learning_e4_rho_r2_seed107420369.jpg
/code/results/figures/e4/learning_e4_rho_r4_seed1181241943.jpg
/code/results/figures/e5/combined-image.jpg
/code/results/figures/e5/e5_states_srS1.jpg
/code/results/figures/e5/learning_e5_states_srS1_seed478163327.jpg
/code/results/figures/e5/learning_e5_states_srS12_seed107420369.jpg
/code/results/figures/e5/learning_e5_states_srS123_seed1181241943.jpg
/code/results/figures/e5/learning_e5_states_srS1234_seed1051802512.jpg
/code/results/logs/e1/learning_log_e1_topology_ter_seed1181241943.csv
/code/results/logs/e1/learning_log_e1_topology_tla_seed478163327.csv
/code/results/logs/e1/learning_log_e1_topology_tws_seed107420369.csv
/code/results/logs/e2/learning_log_e2_alpha_a01_seed1181241943.csv
/code/results/logs/e2/learning_log_e2_alpha_a02_seed1051802512.csv
/code/results/logs/e2/learning_log_e2_alpha_a05_seed958682846.csv
/code/results/logs/e3/learning_log_e3_epsilon_e01_seed1181241943.csv
/code/results/logs/e3/learning_log_e3_epsilon_e02_seed1051802512.csv
/code/results/logs/e3/learning_log_e3_epsilon_e05_seed958682846.csv
/code/results/logs/e3/learning_log_e3_epsilon_e005_seed107420369.csv
/code/results/logs/e4/learning_log_e4_rho_r1_seed478163327.csv
/code/results/logs/e4/learning_log_e4_rho_r2_seed107420369.csv
/code/results/logs/e4/learning_log_e4_rho_r4_seed1181241943.csv
/code/results/logs/e5/learning_log_e5_states_srS1_seed478163327.csv
/code/results/logs/e5/learning_log_e5_states_srS12_seed107420369.csv
/code/results/logs/e5/learning_log_e5_states_srS123_seed1181241943.csv
/code/results/logs/e5/learning_log_e5_states_srS1234_seed1051802512.csv
