/resources/*
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.idea
/code/src/qooperate.egg-info/*
code/experiments/overlay.py
/code/config/expz/expz_base.yaml
/code/config/test/test_base.yaml
/code/results/expz/expz_base.parquet
/code/results/figures/expz/expz_base.png
/code/results/test/test_base.parquet
/AGENTS.md
/code/results/figures/qooperate/qooperate_quicktest.png
/code/results/figures/qooperate/qooperate_quicktest_learning.png
/code/config/adri/adri_srS1_seed478163327.yaml
/code/config/adri/adri_srS123_seed107420369.yaml
/code/results/adri/adri_srS123_seed107420369.parquet
/code/results/adri/learning_adri_srS123_seed107420369.npz
/code/results/figures/adri/adri_srS123_seed107420369.png
/code/results/figures/adri/adri_srS123_seed107420369_learning.png
